<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&signed_in=true"></script>
    <!-- signed_in=true permite usuarios loggeados -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

    <!-- Firebase -->
    <script src="lib/firebase/firebase.js"></script>
    
  </head>

  <body ng-app="starter" ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable">
      <div class="buttons">
        <button class="button icon-right ion-navicon" ng-click="openMoreMenu()"></button>
      </div>

      <h1 class="title">Bus GPS Tracking</h1>
      
    </ion-header-bar>

    <ion-content scroll="false">
      <div>
        <strong>Results</strong>
      </div>
      <div id="output"></div>
      <map on-create="mapCreated(map)" id="map" ></map>      
    </ion-content>

     <!-- Menu de opciones del icono derecho Header-->
    <div class="{{moreMenu}}" ng-click="closeMoreMenu()">
      <div class="menu-more"> 
        <ion-list>
          <ion-item class="menu-item" ng-click="pruebaUsuario()">
            <div class="w-clearfix actividad_divflex  profile ">
              <!--<img class="imagenesredondas" ng-src="img{{currentUser.photoURL}}" >-->
              <div class="actividadtexto ng-binding" ng-click="loadMarkers()">PUSH to FIREBASE</div>
            </div>
          </ion-item>


           <ion-item class="menu-item" ng-click="getGoogleDistance()">
            GET Google Distance
          </ion-item>   


          <ion-item class="menu-item" ng-click="modoOffline=!modoOffline">
          Modo Offline
            <div class="togglemenu">
              <label class="toggle">
                 <input type="checkbox" ng-model="modoOffline">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
            </div>
          </ion-item>

          <ion-item class="menu-item" ng-click="logOut()">
          Acerca de BusGPS Tracking
          </ion-item>   
     
        </ion-list>     
      </div> 
      <div class="menu-more-close" ng-click="closeMoreMenu()">     
      </div>
    </div>

   

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Click para encontrarme</a>
    </ion-footer-bar>
  </body>
</html>
